<div>
    <div><%= link_to 'Home', root_path %></div>
    <div><%= link_to 'About Developer', about_developer_path %></div>
    <div><%= link_to 'Contact', contact_path %></div>
    <div><%= link_to 'Posts', posts_path %></div>
    <div><%= link_to 'Technology news', technologies_path %></div>
</div>