<div class="collapse bg-dark" id="navbarHeader">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-7 py-4">
      <h4> <%= link_to 'PostManager', root_path, class: "text-white" %> </h4>
      <p class="text-muted">Get latest news on latest technologies in the world and pace up with rest of the world.</p>
    </div>
    <div class="col-sm-4 offset-md-1 py-4">
      <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
            <li><%= link_to 'Home', root_path, class: "text-white" %></li>
            <li><%= link_to 'About Developer', about_developer_path, class: "text-white" %></li>
            <li><%= link_to 'Contact', contact_path, class: "text-white" %></li>
            <li><%= link_to 'Posts', posts_path, class: "text-white" %></li>     
            <li><%= authentication_helper('text-white' ) %> </li>     

         </ul>
    </div>
  </div>
</div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
<div class="container">
  <a href="<%= technologies_path%>" class="navbar-brand d-flex align-items-center">
    <strong>Tech News</strong>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
</div>

