<div class="col-md-8 post-container container">

   <h2 class="pb-4 mb-4 fst-italic border-bottom">
     Posts
   </h2>
   
   <h2>
     <%= @post.title %>
  </h2>

   <p>
     <%= @post.body %>
   </p>
   
   <p>
     <%= image_tag @post.image.url, width: "100%"  unless @post.image.url.nil? %>

   </p>

   <%= render 'comments/comment_form' %>

    <%= render @post.comments %>

   <%= link_to 'Edit', edit_post_path(@post) %> 
   <%= link_to 'Back', posts_path %>

</div>




