<div class="col-md-8">

   <h2 class="pb-4 mb-4 fst-italic border-bottom">
     Posts
   </h2>
   
   <p>
     <strong>Title:</strong>
     <%= @post.title %>
   </p>
   
   <%= link_to 'Edit', edit_post_path(@post) %> 

   <p>
     <strong>Body:</strong>
     <%= @post.body %>
   </p>
   
   <p>
     <strong>Img:</strong>
     <%= @post.image %>
   </p>
   

</div>

<%= link_to 'Back', posts_path %>



