<p><%= link_to technology.title, technology_show_path(technology) %></p>
<p> Posted <%= distance_of_time_in_words(technology.created_at,Time.now) %> ago</p>
<p><%= technology.subtitle %></[p]>
<p><%= technology.body %></p>
<%= image_tag technology.thumb_image if !technology.thumb_image.nil?%>
<td><%= link_to technology.status, toggle_status_technology_path(technology) if logged_in?(:site_admin) %></td>
<td><%= link_to 'Edit', edit_technology_path(technology.id) if logged_in?(:site_admin) %></td>
<td><%= link_to 'Delete', technology_path(technology), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></td>   

