<h1>Add new tech news to site.</h1>
<%= form_for (@technologies) do |form| %>  
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div class="field">
      <%= form.label :subtitle %>
      <%= form.text_area :subtitle %>
    </div>
  
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>

    <ul>
      <%= form.fields_for :items do |items_form| %>
        <li>
            <%= items_form.label :name %>
            <%= items_form.text_field :name %>
        </li>
      <% end %>
    </ul>
  
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
  