<p id="notice"><%= notice %></p>

<p>
<%= image_tag @technology.main_image if !@technology.main_image.nil?%>
</p>

<h2>
  <%= @technology.title %>
</h2>

<h3>
  <%= @technology.subtitle %>
</h3>

<p>
  <%= @technology.body %>
</p>

<%= link_to 'Edit', edit_technology_path(@technology) %> |
<%= link_to 'Back', technologies_path %>

#sessions
<% if session[:source]%>
  <p> Visited from <%= session[:source] %> </p>
<% end %>
