<!DOCTYPE html>
<html>
  <head>  
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="d-flex h-100 text-center text-white bg-dark">
  
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">  

    <%= video_tag(
      'bc_vid_1.mp4',
      id: 'background',
      autoplay: true,
      loop: true,
      muted: true,
      poster: 'backgroud_img_earth.jpg'
    )%>
    <%= render "shared/application_nav" %>
    
    <%= yield %>

    <footer class="mt-auto text-white-50">
      <p>@2021 <a href="https://github.com/spriyansh28/ruby-on-rails" class="text-white">PostManager</a>,
       by <%= link_to 'Priyansh Saini', about_developer_path, class: "text-white" %> .</p>
    </footer>
  
    <%= source_helper("application") %>

  </div>
  </body>
</html>
